ul,li,input,body,figure,h1,h2,h3,h4,h5,h6,header,section,footer,input,p,pre{
    margin: 0;padding:0;list-style: none;
    font-family:"微软雅黑";
    font-size: 12px;

}
img,input{
    border:none;

}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
body{
    width: 100%;
    /*height:900px;*/
    background:#f2f2f2;

}
/*上方*/
section{
    width: 100%;
    height:54.04797%;

    background:#29a6dc;

    color:#fff;
    font-size: 12px;

}
.state{
    width: 100%;
    position: relative;

}
.state .light{
    width: 10%;
    float:left;
    margin-top:5px;

}
.state .wifi{
    width: 15px;
    float:left;
    margin-top:3px;

}
.state .lock{
    width: 15px;
    float:right;
    margin-top:3px;

}
.state .battery{
    width: 40px;
    float:right;
    /*margin-top:3px;*/

}

.state-box1{
    float:left;
}
.state-box2{


    width:60px;
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

}
.state-box3{
    float:right;
}
.state-box4{
    clear:both;
}

/*标题*/
.tittle-con{
    width: 100%;
    height:50px;
    /*height:50px;*/
    /*margin:0 auto;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    position: relative;
}
.tittle-con img{
    width: 22px;
    /*height:50px;*/
    margin:10px;
    /*position: absolute;*/
    /*left:0;*/
    /*top:0;*/
    /*right:0;*/
    /*bottom: 0;*/
    /*margin: ;*/
    /*display: none;*/


    /*font-size: 26px;*/
    /*text-align: center;*/
}

.tittle{
    /*width: 78px;*/
    height:50px;

    position: absolute;
    margin:auto;
    left:0;
    top:0;
    right:0;
    bottom: 0;


    font-size: 26px;
    text-align: center;
}
.logo{
    width: 32.6667%;

    display: block;

    margin: 0 auto 0px;

}
/*.logo::after{*/
    /*content:"";*/

    /*padding-bottom: 50%;*/
/*}*/
.sentence{
    width: 81.6%;

    /*display: block;*/

    margin: 50px auto 40px;

}
.writter{
    width: 29.2764%;

    /*display: block;*/

    /*margin: 50px auto 30px;*/
    float: right;

}
.input{
    position: relative;
}
input{

    width: 82.533%;
    height:44px;
    display: block;
    /*display: block;*/
    border-radius: 22px;
    border:1px solid #3a91fd;

    margin: 50px auto 30px;
    /*float: right;*/


    color: #999;
    font-size: 18px;
    /*text-align: center;*/
    cursor: pointer;
    padding-left: 10px;
    line-height: 44px;

}
.input img{
    height:50%;
    position: absolute;
    left:50px;
    top:10px;
}
.help{
    width:82.533%;
    height:32px;
    /*position: absolute;*/
    /*left:50px;*/
    /*top:10px;*/
    display: block;
    /*display: block;*/
    /*border-radius: 22px;*/
    /*border:1px solid #3a91fd;*/

    margin: 0px auto 0px;
    /*float: right;*/


    /*color: #999;*/
    /*font-size: 18px;*/
    /*!*text-align: center;*!*/
    /*cursor: pointer;*/
    /*padding-left: 10px;*/
    /*line-height: 44px;*/
}
.password{
    width:30%;
    height:32px;
    /*position: absolute;*/
    /*left:50px;*/
    /*top:10px;*/
    display: block;
    /*display: block;*/
    /*border-radius: 22px;*/
    /*border:1px solid #3a91fd;*/

    margin: 0px auto 0px;
    float: left;


    /*color: #999;*/
    /*font-size: 18px;*/
    /*!*text-align: center;*!*/
    /*cursor: pointer;*/
    /*padding-left: 10px;*/
    /*line-height: 44px;*/
}
.password:nth-child(1){
    /*width:30%;*/
    /*height:32px;*/
    /*!*position: absolute;*!*/
    /*!*left:50px;*!*/
    /*!*top:10px;*!*/
    /*display: block;*/
    /*!*display: block;*!*/
    /*!*border-radius: 22px;*!*/
    /*!*border:1px solid #3a91fd;*!*/

    /*margin: 0px auto 0px;*/
    float: right;


    /*!*color: #999;*!*/
    /*!*font-size: 18px;*!*/
    /*!*!*text-align: center;*!*!*/
    /*!*cursor: pointer;*!*/
    /*!*padding-left: 10px;*!*/
    /*!*line-height: 44px;*!*/
}
.password .icon{
    height:18px;
    /*position: absolute;*/
    /*left:50px;*/
    /*top:10px;*/
    display: block;

    /*border-radius: 22px;*/
    /*border:1px solid #3a91fd;*/

    /*margin: 0px auto 0px;*/
    float: left;


    /*color: #999;*/
    /*font-size: 18px;*/
    /*!*text-align: center;*!*/
    /*cursor: pointer;*/
    /*padding-left: 10px;*/
    /*line-height: 44px;*/
}
.password .explain{
    width:80%;
    height:18px;
    /*position: absolute;*/
    /*left:50px;*/
    /*top:10px;*/
    display: block;

    /*border-radius: 22px;*/
    /*border:1px solid #3a91fd;*/

    /*margin: 0px auto 0px;*/
    float: left;


    /*color: #999;*/
    /*font-size: 18px;*/
    /*!*text-align: center;*!*/
    cursor: pointer;
    /*padding-left: 10px;*/
    /*line-height: 44px;*/
}



.button{
    width: 100%;

    height:38px;
    display: block;
    /*display: block;*/
    border-radius: 19px;
    border:none;
    background:#3abffd;


    margin: 50px auto 30px;
    /*float: right;*/
    color: #fff;
    font-size: 26px;
    text-align: center;
    cursor: pointer;
    padding:0;
    line-height: 38px;


}
.bt{
    width: 75.2%;
    /*height:8.82%;*/
    /*border-radius: 50%;*/
    /*border:none;*/
    /*background:#f2f2f2;*/


    margin: 0 auto ;
    /*!*float: right;*!*/
    /*color: #fff;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    position: relative;

}
.circle{
    width:2px;
    height:2px;
    border-radius: 50%;
    /*border:none;*/
    background:#f2f2f2;


    /*margin: 50px auto 30px;*/
    /*!*float: right;*!*/
    /*color: #fff;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    position: absolute;
    left: 15px;
    top: 18px;

}
.circle2{
    width:2px;
    height:2px;
    border-radius: 50%;
    /*border:none;*/
    background:#f2f2f2;


    /*margin: 50px auto 30px;*/
    /*!*float: right;*!*/
    /*color: #fff;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    position: absolute;
    right: 15px;
    top: 18px;

}