body,p,pre,ul,h1,h2,h3,h4,h5,h6,ol,dl,dt,dd,input
{padding:0px;margin:0px;}
img{border: none;}
a{display:block;text-decoration: none;}
*{box-sizing: border-box;}
.ggl{width: 100%;height:40px;background-color: #444444;float:left;}
.ggz{width: 40px;height:16px;float:right;margin-top: 12px;margin-right: 186px;
font-size: 12px;line-height: 16px;color:#8a8a8c;}
.xt{width: 100%;height:2px;background-color: #333333;float:left;}
.banner{width: 100%;height:553px;background-color: red;float:left;margin-bottom: 2px;}
.banner a{width: 100%;height:553px;float:left;background-image: url(picture/ab.jpg);background-position: center;}




.content{width: 100%;height:200px;margin: 0 auto;padding: 1px;}
.shuang{width: 100%;height:48px;float:left;background-color:#f2f2f2;margin-top: 2px;}
.szi{width: 425px;height:14px;float:left;margin-top: 17px;margin-left: 186px;
    font-size: 10px;line-height: 14px;color:#808080;}

.xk{width: 100%;height:365px;float:left;background-color:#f2f2f2;}
.cc{width: 980px;height:1px;float:left;margin-left: 186px;background-color: #e3e3e3;}
.wzk{width: 860px;height:213px;float:left;margin-left: 186px;background-color:;line-height: 10px;
margin-top: 23px}
.wzk a:hover{text-decoration: underline;color:#303030}
.k1:hover{
color: #666666
}
.k1{width: 52px;height:213px;float:left;margin-left: 5px;background-color:;font-size: 10px;line-height: 10px;color:
black;}
.k1-1 a{width: 52px;height:10px;float:left;margin-top: 1px;background-color: ;color:black;}
.k1-2 a{width: 52px;height:10px;float:left;margin-top: 10px;background-color: ;color: #666666}
.k1-3 a{width: 52px;height:10px;float:left;margin-top: 10px;background-color: ;color: #666666}
.k1-4 a{width: 52px;height:10px;float:left;margin-top: 10px;background-color: ;color: #666666}
.k1-5 a{width: 52px;height:10px;float:left;margin-top: 10px;background-color: ;color: #666666}
.k1-6 a{width: 52px;height:10px;float:left;margin-top: 10px;background-color: ;color: #666666}
.k1-7 a{width: 52px;height:10px;float:left;margin-top: 10px;background-color: ;color: #666666}
.k1-8 a{width: 52px;height:10px;float:left;margin-top: 10px;background-color: ;color: #666666}
.k1-9 a{width: 52px;height:10px;float:left;margin-top: 10px;background-color: ;color: #666666}
.k2{width: 100px;height:213px;float:left;margin-left: 140px;background-color:;font-size: 10px;line-height: 10px;}
.k2-1{width: 100px;height:10px;float:left;margin-top: 1px;background-color: ;color:black;line-height: 10px;}
.k2-2 a,.k2-3 a,.k2-4 a,.k2-5 a,.k2-6 a,.k2-7 a,.k2-8 a,.k2-9 a,.k2-10 a ,.k2-11 a{
    width: 100px;height:10px;float:left;margin-top: 10px;background-color: ;color: #666666}
.k3{width: 69px;height:213px;float:left;margin-left: 99px;background-color:;font-size: 10px;}
.k3-1{width: 69px;height:10px;float:left;margin-top: 1px;background-color: ;color:black;}
.k3-2 a,.k3-3 a,.k3-4 a,.k3-5 a,.k3-6 a{width: 69px;height:10px;float:left;margin-top: 10px;background-color: ;
    color: #666666}
.k4{width: 94px;height:213px;float:left;margin-left: 125px;background-color:;font-size: 10px;}
.k4-1{width: 94px;height:10px;float:left;margin-top: 1px;background-color: ;color:black;}
.k4-2 a,.k4-3 a,.k4-4 a,.k4-5 a,.k4-6 a,.k4-7 a,.k4-8 a,.k4-9 a,.k4-10 a{width: 94px;height:10px;float:left;margin-top: 10px;
    background-color: ;color: #666666}
.k5{width: 60px;height:213px;float:left;margin-left: 100px;background-color:;font-size: 10px;}
.k5-1{width: 60px;height:10px;float:left;margin-top: 1px;background-color: ;color:black;}
.k5-2 a,.k5-3 a,.k5-4 a,.k5-5 a,.k5-6 a{width: 60px;height:10px;float:left;margin-top: 10px;
    background-color: ;color: #666666}
.gd{width: 464px;height:11px;float:left;margin-left: 186px;background-color:;margin-top: 28px;
    line-height: 11px;}
.gd1{width: 80px;height:11px;float:left;margin-left: 5px;background-color:;font-size: 10px;
    color: #666666;}
.gd2{width: 96px;height:11px;float:left;margin-left: 2px;background-color:;font-size: 10px;
    color: #0070c9;}
.gd2 a{color:#0070c9}
.gd2 a:hover{color:black;text-decoration: underline}
.gd3{width: 167px;height:11px;float:left;margin-left: 2px;background-color:;font-size: 10px;
    color: #666666;}
.gd4{width: 58px;height:11px;float:left;background-color:;font-size: 10px;
    color: #666666;}
.gd4 a{color:#0070c9}
.gd4 a:hover{color:black;text-decoration: underline}
.xx{width: 983px;height:1px;float:left;background-color:#e3e3e3;margin-left: 186px;
margin-top: 10px;}
.cp{width: 544px;height:16px;float:left;background-color:;margin-left: 186px;
    margin-top: 8px;}
.cp1{width: 202px;height:16px;float:left;background-color:;margin-left: 5px;
    font-size: 10px;color: #666666;line-height: 16px;}
.cp2{width: 308px;height:16px;float:left;background-color:;margin-left: 24px;
    font-size: 10px;color: #666666;line-height: 16px;}
.cp2  a{color:#444444;}
.cp2-1 a,.cp2-2 a,.cp2-3 a,.cp2-4 a,.cp2-5 a{width: 60px;height:16px;float:left;;
border-right: 1px solid #d6d6d6;font-size: 10px;color: #666666;line-height: 16px;text-align: center;
color:#444444;}
.cp2 a:hover{text-decoration: underline;}






.one{width: 25%;height:200px;float:left;background-color: green;
    background-image: url(picture/a4.jpg);background-position: center;border-right:1px solid #fff;}
.two{width: 25%;height:200px;float:left;background-color: yellow;
    background-image: url(picture/a2.jpg);background-position: center;border-right:1px solid #fff;}
.three{width: 25%;height:200px;float:left;background-color: blue;
    background-image: url(picture/a3.jpg);background-position: center;border-right:1px solid #fff;}
.four{width: 25%;height:200px;float:left;background-color: #cccccc;
    background-image: url(picture/a1.jpg);background-position: center;}
@media screen and (max-width:1068px) {
    .one, .two, .three, .four {
        width: 50%  ;}

    .one {
        width: 50%;
        height: 200px;
        float: left;
        background-color: green;
        background-image: url(picture/a1.jpg);
        background-position: center;
        border-right: 1px solid #fff;
    }

    .two {
        width: 50%;
        height: 200px;
        float: left;
        background-color: yellow;
        background-image: url(picture/a2.jpg);
        background-position: center;
        border-right: 1px solid #fff;
    }

    .three {
        width: 50%;
        height: 200px;
        float: left;
        background-color: blue;
        background-image: url(picture/a3.jpg);
        background-position: center;
        border-right: 1px solid #fff;
    }

    .four {
        width: 50%;
        height: 200px;
        float: left;
        background-color: #cccccc;
        background-image: url(picture/a4.jpg);
        background-position: center;
    }

}





