ul,li,input,body,figure,h1,h2,h3,h4,h5,h6,header,section,footer,input,p,pre,html{
    margin: 0;padding:0;list-style: none;
    font-family:"微软雅黑";
    font-size: 16px;

}
img,input{
    border:none;

}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
body{
    width: 100%;
    /*height:900px;*/
    background:#f2f2f2;
    font:normal 100% helvetica,Arial,sans-serif;
    position: relative;

}
/*上方*/
section{
    width: 100%;
    height:54.04797%;

    background:#29a6dc;

    color:#fff;
    font-size: 0.875em;
    /*position:fixed;*/
    /*!*bottom:0;*!*/

}
.state{
    width: 100%;
    position: relative;

}
.state .light{
    width: 10%;
    float:left;
    margin-top:5px;

}
.state .wifi{
    width: 15px;
    float:left;
    margin-top:3px;

}
.state .lock{
    width: 15px;
    float:right;
    margin-top:3px;

}
.state .battery{
    width: 40px;
    float:right;
    /*margin-top:3px;*/

}

.state-box1{
    float:left;
    font-size: 0.75em;
}
.state-box2{


    /*width:60px;*/
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.875em;

}
.state-box3{
    float:right;
    font-size: 0.75em;
}
.state-box4{
    clear:both;
}

/*标题*/
.tittle-con{
    width: 100%;
    height:50px;
    /*height:50px;*/
    /*margin:0 auto;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    position: relative;
}
.tittle-con .imga{
    width: 22px;
    /*height:50px;*/
    margin:10px;
    /*position: absolute;*/
    /*left:0;*/
    /*top:0;*/
    /*right:0;*/
    /*bottom: 0;*/
    /*margin: ;*/
    display: none;


    /*font-size: 26px;*/
    /*text-align: center;*/
}
.tittle-con .imgb{
    width: 22px;
    /*height:50px;*/
    margin:0.525em;
    position: absolute;
    /*left:0;*/
    top:0;
    right:0;
    /*bottom: 0;*/
    /*margin: ;*/
    /*display: none;*/


    /*font-size: 26px;*/
    /*text-align: center;*/
}
.tittle-con .dumbbell{
    width: 1.125em;
    /*height:50px;*/
    margin:2.125em auto 0;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom: 0;
    /*margin: ;*/
    /*display: none;*/


    /*font-size: 26px;*/
    /*text-align: center;*/
}

.tittle-con .sousuokuangbig1{
    width: 72.6666667%;
    height:1.5em;
    margin:0.5em auto 0;
    background: #f6f6f6;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom: 0;
    /*margin: ;*/
    /*display: none;*/





    /*font-size: 1em;*/
    /*text-align: center;*/
}

.tittle-con .biglens-1{
    width: 1.4875em;
    /*height:1.5em;*/
    margin:0.5em auto 0;
    /*background: #f6f6f6;*/
    position: absolute;
    left:4.5625em;
    top:0.4em;
    /*right:0;*/

}
/*三选一滑块*/
.blackround{
    width: 76.1333%;
    height:2.625rem ;
    background: #000;
    margin: 1rem auto 0;
    border-radius: 100px;
    position: relative;
}

.blackround img{
    /*width: 3px;*/
    height:2.325rem;
    /*background: #29a6dc;*/
    /*padding: 2px;*/
    /*border-radius: 100px;*/
    /*border: 1px solid #fff;*/
    /*float: left;*/
    position: absolute;
    left:33.3333%;
    top: 0.1rem;

}
.blackround img:nth-of-type(2){
    /*width: 3px;*/
    height:2.325rem;
    /*background: #29a6dc;*/
    /*padding: 2px;*/
    /*border-radius: 100px;*/
    /*border: 1px solid #fff;*/
    /*float: left;*/
    position: absolute;
    left:66.66666%;
    top: 0.1rem;

}
.blackround-little{
    width: 33.33333%;
    height:100%;
    /*background: #29a6dc;*/
    padding: 3px;
    /*border-radius: 100px;*/
    /*border: 1px solid #fff;*/
    float: left;
}
.blackround-little div{

    color: #fff;
    font-size: 1rem;
    text-align: center;
    line-height: 1rem;
}
.blackround-little span{

    color: #fff;
    font-size: 0.625rem;
    text-align: center;
}
.blackround-little-float{
    width: 100%;
    height:100%;
    background: #29a6dc;
    margin: 1px;
    border-radius: 200px;
    border: 1px solid #fff;
    float: left;
}
.blackround-little-float1{
    width: 100%;
    height:100%;
    background: #000;
    margin: 1px;
    border-radius: 200px;
    /*border: 1px solid #fff;*/
    float: left;
}
.blackround-little-float1:hover{

    background: #29a6dc;


    border: 1px solid #fff;

}










.tittle{
    /*width: 78px;*/
    height:50px;

    position: absolute;
    margin:auto;
    left:0;
    top:0;
    right:0;
    bottom: 0;


    font-size: 1.625em;
    text-align: center;
}
.tittle-sub{
    /*width: 78px;*/
    /*height:50px;*/

    position: absolute;
    margin: 2.225em auto 0;
    left:0;
    top:0;
    right:0;
    bottom: 0;


    font-size: 0.9em;
    text-align: center;
}
.logo{
    width: 32.6667%;

    display: block;

    margin: 0 auto 30px;

}
/*.logo::after{*/
    /*content:"";*/

    /*padding-bottom: 50%;*/
/*}*/
.sentence{
    width: 81.6%;

    /*display: block;*/

    margin: 50px auto 40px;

}
.writter{
    width: 29.2764%;

    /*display: block;*/

    /*margin: 50px auto 30px;*/
    float: right;

}
.input{
    position: relative;
}
input{

    width: 82.533%;
    height:44px;
    display: block;
    /*display: block;*/
    border-radius: 22px;
    border:1px solid #3a91fd;

    margin: 50px auto 30px;
    /*float: right;*/


    color: #999;
    font-size: 18px;
    /*text-align: center;*/
    cursor: pointer;
    padding-left: 10px;
    line-height: 44px;

}
.input img{
    height:50%;
    position: absolute;
    left:50px;
    top:10px;
}
.help{
    width:82.533%;
    height:32px;
    /*position: absolute;*/
    /*left:50px;*/
    /*top:10px;*/
    display: block;
    /*display: block;*/
    /*border-radius: 22px;*/
    /*border:1px solid #3a91fd;*/

    margin: 0px auto 0px;
    /*float: right;*/


    /*color: #999;*/
    /*font-size: 18px;*/
    /*!*text-align: center;*!*/
    /*cursor: pointer;*/
    /*padding-left: 10px;*/
    /*line-height: 44px;*/
}
.password{
    width:30%;
    height:32px;
    /*position: absolute;*/
    /*left:50px;*/
    /*top:10px;*/
    display: block;
    /*display: block;*/
    /*border-radius: 22px;*/
    /*border:1px solid #3a91fd;*/

    margin: 0px auto 0px;
    float: left;


    /*color: #999;*/
    /*font-size: 18px;*/
    /*!*text-align: center;*!*/
    /*cursor: pointer;*/
    /*padding-left: 10px;*/
    /*line-height: 44px;*/
}
.password:nth-child(2){
    /*width:30%;*/
    /*height:32px;*/
    /*!*position: absolute;*!*/
    /*!*left:50px;*!*/
    /*!*top:10px;*!*/
    /*display: block;*/
    /*!*display: block;*!*/
    /*!*border-radius: 22px;*!*/
    /*!*border:1px solid #3a91fd;*!*/

    /*margin: 0px auto 0px;*/
    float: right;


    /*!*color: #999;*!*/
    /*!*font-size: 18px;*!*/
    /*!*!*text-align: center;*!*!*/
    /*!*cursor: pointer;*!*/
    /*!*padding-left: 10px;*!*/
    /*!*line-height: 44px;*!*/
}
.password .icon{
    height:18px;
    /*position: absolute;*/
    /*left:50px;*/
    /*top:10px;*/
    display: block;

    /*border-radius: 22px;*/
    /*border:1px solid #3a91fd;*/

    /*margin: 0px auto 0px;*/
    float: left;


    /*color: #999;*/
    /*font-size: 18px;*/
    /*!*text-align: center;*!*/
    /*cursor: pointer;*/
    /*padding-left: 10px;*/
    /*line-height: 44px;*/
}
.password .explain{
    width:80%;
    height:18px;
    /*position: absolute;*/
    /*left:50px;*/
    /*top:10px;*/
    display: block;

    /*border-radius: 22px;*/
    /*border:1px solid #3a91fd;*/

    /*margin: 0px auto 0px;*/
    float: left;


    /*color: #999;*/
    /*font-size: 18px;*/
    /*!*text-align: center;*!*/
    cursor: pointer;
    /*padding-left: 10px;*/
    /*line-height: 44px;*/
}



.button{
    width: 100%;

    height:38px;
    display: block;
    /*display: block;*/
    border-radius: 19px;
    border:none;
    background:#3abffd;


    margin: 50px auto 30px;
    /*float: right;*/
    color: #fff;
    font-size: 26px;
    text-align: center;
    cursor: pointer;
    padding:0;
    line-height: 38px;


}
.bt{
    width: 75.2%;
    /*height:8.82%;*/
    /*border-radius: 50%;*/
    /*border:none;*/
    /*background:#f2f2f2;*/


    margin: 0 auto ;
    /*!*float: right;*!*/
    /*color: #fff;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    position: relative;

}
.circle{
    width:2px;
    height:2px;
    border-radius: 50%;
    /*border:none;*/
    background:#f2f2f2;


    /*margin: 50px auto 30px;*/
    /*!*float: right;*!*/
    /*color: #fff;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    position: absolute;
    left: 15px;
    top: 18px;

}
.circle2{
    width:2px;
    height:2px;
    border-radius: 50%;
    /*border:none;*/
    background:#f2f2f2;


    /*margin: 50px auto 30px;*/
    /*!*float: right;*!*/
    /*color: #fff;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    position: absolute;
    right: 15px;
    top: 18px;

}
.banner{
    width:100%;
    height:15em;
    /*border-radius: 50%;*/
    /*border:none;*/
    background:url(../images/banner-1.jpg) center;
    background-size: cover;


    /*margin: 0 auto ;*/
    /*!*float: right;*!*/
    /*color: #fff;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    position: relative;
    /*right: 15px;*/
    /*top: 18px;*/

}
.banner-con{
    width:70.93%;
    /*height:8.875em;*/
    /*border-radius: 0.1875em;*/
    border:none;
    /*background:url(../images/bookfengmian.jpg);*/
    /*background-size: cover;*/
    /*border:1px solid #fff;*/


    /*!*float: right;*!*/
    color: #000;
    font-size: 36px;
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    position: absolute;
    margin: 0 auto  ;
    right: 0;
    top: 2.9375em;
    left: 0;
    /*bottom: 0;*/

}
.banner-top-con{
    width:100%;
    height:2rem;
    /*border-radius: 0.1875em;*/
    /*border:none;*/
    /*background:url(../images/bookfengmian.jpg);*/
    /*background-size: cover;*/
    /*border:1px solid #fff;*/

    /*margin: 0 auto  ;*/
    /*!*float: right;*!*/
    color: #000;
    font-size: 2rem;
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 1.375em;*/
    /*left: 0;*/
    overflow: hidden;


}
.banner-bottom-con{
    width:100%;
    height:2rem;
    /*border-radius: 0.1875em;*/
    /*border:none;*/
    /*background:url(../images/bookfengmian.jpg);*/
    /*background-size: cover;*/
    /*border:1px solid #fff;*/

    /*margin: 0 auto  ;*/
    /*!*float: right;*!*/
    color: #585b62;
    font-size: 24px;
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 1.375em;*/
    /*left: 0;*/
    overflow: hidden;


}
.fanye{
    width:1.46875em;
    /*height:9.906em;*/
    /*border-radius: 0.1875em;*/
    /*border:none;*/
    /*background:url(../images/bookfengmian.jpg);*/
    /*background-size: cover;*/
    /*border:1px solid #fff;*/

    margin: 0 auto  ;
    /*!*float: right;*!*/
    /*color: #fff;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    position: absolute;
    right: 0;
    /*top: 1.375em;*/
    left: 0;
    bottom: 1em;


}
.part-tittle{
    width:89.866667%;
    height:2.9815em;
    /*border-radius: 0.1875em;*/
    /*border:none;*/
    /*background:url(../images/bookfengmian.jpg);*/
    /*background-size: cover;*/
    /*border:1px solid #fff;*/

    margin: 0 auto  ;
    margin-top:0.5em ;
    /*!*float: right;*!*/
    /*color: #fff;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 1em;*/


}
.part-chinese{
    width:100%;
    /*height:9.906em;*/
    /*border-radius: 0.1875em;*/
    /*border:none;*/
    /*background:url(../images/bookfengmian.jpg);*/
    /*background-size: cover;*/
    /*border:1px solid #fff;*/

    display:block;
    /*margin: 0 auto  ;*/
    /*!*float: right;*!*/
    /*color: #fff;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 1em;*/


}
.part-chinese div{
    width:5em;
    /*height:9.906em;*/
    /*border-radius: 0.1875em;*/
    /*border:none;*/
    /*background:url(../images/bookfengmian.jpg);*/
    /*background-size: cover;*/
    /*border:1px solid #fff;*/

    /*margin: 0 auto  ;*/
    float: left;
    /*color: #fff;*/
    /*font-size: 26px;*/
    text-align: center;
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 1em;*/


}
.part-chinese .collection{
    width:0.9375em;
    /*height:9.906em;*/
    /*border-radius: 0.1875em;*/
    /*border:none;*/
    /*background:url(../images/bookfengmian.jpg);*/
    /*background-size: cover;*/
    /*border:1px solid #fff;*/

    /*margin-top: 1em   ;*/
    float: left;
    /*color: #fff;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 1em;*/


}
.part-chinese .traffic-light{
    width:0.5625em;
    /*height:9.906em;*/
    /*border-radius: 0.1875em;*/
    /*border:none;*/
    /*background:url(../images/bookfengmian.jpg);*/
    /*background-size: cover;*/
    /*border:1px solid #fff;*/

    margin-top: 0.5em   ;
    float: left;
    /*color: #fff;*/
    /*font-size: 26px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 1em;*/


}
.part-engish{
    width:10em;
    /*height:9.906em;*/
    /*border-radius: 0.1875em;*/
    /*border:none;*/
    /*background:url(../images/bookfengmian.jpg);*/
    /*background-size: cover;*/
    /*border:1px solid #fff;*/

    margin-top: 0.5em   ;

    float: left;
    color: #939393;
    font-size: 0.125em;
    text-align: center;
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 1em;*/


}
.bookdesk{
    width:33.3333%;
    height:15.05em;
    /*border-radius: 0.1875em;*/
    /*border:none;*/
    background:url(../images/book-desk-1.png) no-repeat;
    background-size: contain;
    /*border:1px solid #fff;*/
    box-shadow: 1px 1px 0 2px #ccc;

    margin-top: 0.5em   ;
    margin-left: 0.8125em   ;
    float: left;
    color: #000;
    font-size: 0.125em;
    text-align: center;
    /*cursor: pointer;*/
    /*padding:0;*/
    line-height: 320px;
    position: relative;
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 1em;*/
    /*display: inline;*/
    /*word-wrap: normal;*/



}
.bookdesk span{
    width:100%;
    height:1em;
    /*border-radius: 0.1875em;*/
    /*border:none;*/
    /*background:url(../images/book-desk-1.png) no-repeat;*/
    /*background-size: contain;*/
    /*!*border:1px solid #fff;*!*/
    /*box-shadow: 1px 1px 0 2px #ccc;*/

    margin: 0 auto ;
    /*margin-left: 0.8125em   ;*/
    /*float: left;*/
    color: #ccc;
    font-size: 0.125em;
    text-align: center;
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 320px;*/
    position: absolute;
    right: 0;
    top: 1em;
    left: 0;
    /*bottom: 0;*/


}
.bookdx{
    width:83.6%;
    height:16.45em;
    border-radius: 0.1875em;
    border:2px solid #fff;
    background:url(../images/neko.png) no-repeat;
    /*no-repeat;*/
    background-size: contain;
    /*border:1px solid #fff;*/
    /*box-shadow: 1px 1px 0 2px #ccc;*/

    margin: 0 auto   ;
    /*margin-left: 0.8125em   ;*/
    /*float: left;*/
    /*color: #939393;*/
    /*font-size: 0.125em;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*padding:0;*/
    /*line-height: 38px;*/
    position: absolute;
    right: 0;
    /*top: 1.375em;*/
    left: 0;
    bottom: -0.5em;


}
.scroll{
    width:100%;
    height:14.85em;
    /*border-radius: 0.1875em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    /*background-size: contain;*/
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    /*display: inline;*/
    /*margin: 0 auto   ;*/
    /*!*margin-left: 0.8125em   ;*!*/
    /*!*float: left;*!*/
    /*!*color: #939393;*!*/
    /*!*font-size: 0.125em;*!*/
    /*!*text-align: center;*!*/
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/


}
.bottom{
    width:100%;
    height:3.0625em;

    background:#151c2b;


}
.caidanmenu{
    width:33.333%;
    height:3.0625em;
    /*border-radius: 0.1875em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    background:linear-gradient(to right,#0c111b ,#151c2b,#0c111b);
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    /*display: inline;*/
    /*margin: 0 auto   ;*/
    /*!*margin-left: 0.8125em   ;*!*/
    float: left;


    /*!*color: #939393;*!*/
    /*!*font-size: 0.125em;*!*/
    /*!*text-align: center;*!*/
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/
    /*position:fixed;*/
    /*bottom:0;*/

}
.caidanmenu img{
    width:20.333%;
    /*height:3.0625em;*/
    /*border-radius: 0.1875em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    /*background:#0c111a;*/
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    display: block;
    margin: 0.3em auto auto  ;

    /*!*margin-left: 0.8125em   ;*!*/
    /*float: left;*/


    /*!*color: #939393;*!*/
    /*!*font-size: 0.125em;*!*/
    /*!*text-align: center;*!*/
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/
    /*position:fixed;*/
    /*bottom:0;*/
}
.caidanmenu span{
    width:30.333%;
    /*height:3.0625em;*/
    /*border-radius: 0.1875em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    /*background:#0c111a;*/
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    display: block;
    margin: 0 auto   ;
    /*!*margin-left: 0.8125em   ;*!*/
    /*float: left;*/


    color: #67686a;
    /*!*font-size: 0.125em;*!*/
    text-align: center;
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/
    /*position:fixed;*/
    /*bottom:0;*/
}



.caidanmenu1{
    width:33.333%;
    height:3.0625em;
    /*border-radius: 0.1875em;*/
    border-left:1px solid #717171;
    /*background:url(../images/neko.png) no-repeat;*/
    background:#0c111a;
  
    float: left;


   

}
.caidanmenu1:hover{
    background: linear-gradient(to right,#0c111b ,#151c2b,#0c111b);
}
.caidanmenu1 img{
    width:20.333%;
    /*height:3.0625em;*/
    /*border-radius: 0.1875em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    /*background:#0c111a;*/
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    display: block;
    margin: 0.3em auto auto  ;

    /*!*margin-left: 0.8125em   ;*!*/
    /*float: left;*/


    /*!*color: #939393;*!*/
    /*!*font-size: 0.125em;*!*/
    /*!*text-align: center;*!*/
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/
    /*position:fixed;*/
    /*bottom:0;*/
}
.caidanmenu1 span{
    width:30.333%;
    /*height:3.0625em;*/
    /*border-radius: 0.1875em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    /*background:#0c111a;*/
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    display: block;
    margin: 0 auto   ;
    /*!*margin-left: 0.8125em   ;*!*/
    /*float: left;*/


    color: #67686a;
    /*!*font-size: 0.125em;*!*/
    text-align: center;
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/
    /*position:fixed;*/
    /*bottom:0;*/
}
.reading{
    width:93.6%;
    /*height:3.0625em;*/
    border-radius: 0.1875em;
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    background:#fff;
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    /*display: block;*/
    margin: 0 auto   ;
    margin-top: 0.5em ;
    /*!*margin-left: 0.8125em   ;*!*/
    /*float: left;*/


    /*color: #67686a;*/
    /*!*!*font-size: 0.125em;*!*!*/
    /*text-align: center;*/
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/
    /*position:fixed;*/
    /*bottom:0;*/
}
.readingbook{
    width:32.1937322%;
    /*height:3.0625em;*/
    /*border-radius: 0.1875em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    /*background:#0c111a;*/
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    /*display: block;*/
    /*margin: 0 auto   ;*/
    margin-left: 0.5em   ;
    margin-top: 0.5em   ;
    margin-bottom: 0.5em   ;
    float: left;


    /*color: #67686a;*/
    /*!*!*font-size: 0.125em;*!*!*/
    /*text-align: center;*/
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/
    /*position:fixed;*/
    /*bottom:0;*/
}
.omit{
    width:3px;
    /*height:3.0625em;*/
    /*border-radius: 0.1875em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    /*background:#0c111a;*/
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    /*display: block;*/
    /*margin: 0 auto   ;*/
    margin-left: 0.1em   ;
    margin-right: 0.1em   ;
    margin-top: 0.5em   ;
    margin-bottom: 0.5em   ;
    float: left;


    /*color: #67686a;*/
    font-size: 0.125em;
    /*text-align: center;*/
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/
    /*position:fixed;*/
    /*bottom:0;*/
}
.reading-ex{
    width:60%;
    float: left;
    /*height:3.0625em;*/
    /*border-radius: 0.1875em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    /*background:#0c111a;*/
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    /*display: block;*/
    /*margin: 0 auto   ;*/
    /*margin-left: 1em   ;*/
    /*margin-top: 1em   ;*/



    /*color: #67686a;*/
    /*!*!*font-size: 0.125em;*!*!*/
    /*text-align: center;*/
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/
    /*position:fixed;*/
    /*bottom:0;*/
}
.reading-ex .passage1{
    width:100%;
    /*float: left;*/
    /*height:3.0625em;*/
    /*border-radius: 0.1875em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    /*background:#0c111a;*/
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    /*display: block;*/
    margin-top: 0.5em ;
    /*margin-left: 1em   ;*/
    /*margin-top: 1em   ;*/



    color: #000;
    font-size: 0.875em;
    /*text-align: center;*/
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/
    /*position:fixed;*/
    /*bottom:0;*/
}
.reading-ex .passage2{
    width:100%;
    /*float: left;*/
    /*height:3.0625em;*/
    /*border-radius: 0.1875em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    /*background:#0c111a;*/
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    /*display: block;*/
    /*margin: 0 auto   ;*/
    /*margin-left: 1em   ;*/
    /*margin-top: 1em   ;*/



    color: #a0a0a0;
    font-size: 0.625em;
    /*text-align: center;*/
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/
    /*position:fixed;*/
    /*bottom:0;*/
}
.reading-ex .passage3{
    width:100%;
    /*float: left;*/
    /*height:3.0625em;*/
    /*border-radius: 0.1875em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    /*background:#0c111a;*/
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    /*display: block;*/
    margin-top: 0.2em ;
    /*margin-left: 1em   ;*/
    /*margin-top: 1em   ;*/



    color: #000;
    font-size: 0.75em;
    /*text-align: center;*/
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/
    /*position:fixed;*/
    /*bottom:0;*/
}
.reading-ex .passage-bt-con{
    width:100%;
    /*float: left;*/
    /*height:3.0625em;*/
    /*border-radius: 0.1875em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    /*background:#0c111a;*/
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    /*display: block;*/
    /*margin-top: 0.5em ;*/
    /*margin-left: 1em   ;*/
    /*margin-top: 1em   ;*/



    /*color: #000;*/
    /*font-size: 0.875em;*/
    /*text-align: center;*/
    /*!*cursor: pointer;*!*/
    /*!*padding:0;*!*/
    /*!*line-height: 38px;*!*/
    /*position: absolute;*/
    /*right: 0;*/
    /*!*top: 1.375em;*!*/
    /*left: 0;*/
    /*bottom: 0.675em;*/
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
    /*word-wrap:normal;*/
    /*word-wrap: break-word;*/
    /*position:fixed;*/
    /*bottom:0;*/
}
.reading-ex .bt-con-left{
    width:52%;
    float: left;


}
.reading-ex .bt-con-right{
    width:42%;
    float: right;



}
.reading-ex .bt-con-left img{
    width:0.6em;
    float: left;

    display: block;
    margin-top: 0.4em ;
    /*margin-left: 1em   ;*/
    /*margin-top: 1em   ;*/




}
.reading-ex .bt-con-right img{
    width:0.6em;
    float: left;

    display: block;
    margin-top: 0.4em ;
    /*margin-left: 1em   ;*/
    /*margin-top: 1em   ;*/




}
 .yidu{
    width:90%;
    float: left;

    margin-top: 0.5em ;
    /*margin-left: 1em   ;*/
    /*margin-top: 1em   ;*/



    /*color: #fff;*/
    font-size: 0.5em;

}

.reading-ex .bt-con-left .baifenbi{
    width:30%;
    float: left;
    /*height:1.1875em;*/
    /*border-radius: 0.59375em;*/
    /*border:2px solid #fff;*/
    /*background:url(../images/neko.png) no-repeat;*/
    /*background:#29a5db;*/
    /*!*border:1px solid #fff;*!*/
    /*!*box-shadow: 1px 1px 0 2px #ccc;*!*/
    /*display: block;*/
    /*margin-top: 0.5em ;*/
    /*margin-left: 1em   ;*/
    /*margin-top: 1em   ;*/



    color: #94d1e6;
    font-size: 0.75em;

}
/*slip*/
.circulation{
    width: 23px;
    height: 4px;
    background: url(../images/circulation.png);

    background-size: cover;
    margin: 0.5em auto 0;
}
/*键盘*/
.keyboard{
    width: 100%;
}

/*最新上架*/
.thirdth-con{
    width: 100%;
}
.thirdth-con:after{
    content: "";
    display: block;
    clear: both;
}

.thirdth{
    width: 33.33333%;
    /*height: 44px;*/
    padding-left: 10px;
    padding-right: 10px;
    /*background: red;*/
    /*padding-top: 47.4855%;*/
    position: relative;
    float: left;
}
.thirdth img{
    width: 100%;
    /*height: 44px;*/

    /*padding-right: 10px;*/
    /*position: absolute;*/


}
.thirdth div{
    width: 100%;
    height: 2.5em;
    overflow: hidden;
    font-size: 1em;

    /*padding-right: 10px;*/
    /*position: absolute;*/


}
.thirdth span{
    width: 100%;
    height: 1em;
    overflow: hidden;

    /*padding-right: 10px;*/
    /*position: absolute;*/
    font-size: 0.875em;


}

